.git
.gitignore
.env
.env.*
node_modules
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log
*.apk
*.aab
*.apks
*.bsdiff
*.patch
coverage
.nyc_output
tmp
temp
uploads
release-artifacts
patch-artifacts
index.v8.3.0.backup.js
